In [6]:
import numpy as np
import pandas as pd

tweets = pd.read_csv('hate_tweets.csv')

# tweets['split_text'] = tweets['tweet'].str.split(" ")

# for key,value in tweets['split_text'].items():
#     try:
#         l = tweets['split_text'][key].copy()
#         tweets['split_text'][key] = [item for item in l if item!= '']
#     except:
#         continue

tweets['word_count'] = tweets['tweet'].apply(lambda x:len(str(x).split(" ")))
tweets[['tweet','word_count']].head()

tweets['char_count'] = tweets['tweet'].str.len()
tweets[['tweet','char_count']].head()

tweets['numerics'] = tweets['tweet'].apply(lambda sen:len([x for x in sen.split() if x.isdigit()]))
tweets[['tweet','numerics']].head()

tweets['upper'] = tweets['tweet'].apply(lambda sen:len([x for x in sen.split() if x.isupper()]))
tweets[['tweet','upper']].head()

                                               tweet  upper
0   @user when a father is dysfunctional and is s...      0
1  @user @user thanks for #lyft credit i can't us...      0
2                                bihday your majesty      0
3  #model   i love u take with u all the time in ...      0
4             factsguide: society now    #motivation      0